@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Space+Mono:wght@400;700&display=swap");

:root {
  --first: "Shrikhand", cursive;
  --second: "Space Mono", monospace;
  --radius: 10px;
  --white: #ffff;
  --blue: #00a4c6;
  --dark: #0e1735;
  --pink: #f9aaa6;
  --shadow: 4px 4px 8px -1px rgba(0, 0, 0, 1);
}

* {
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  box-sizing: content-box;
  max-width: 750px;
  padding: 30px;
  /* border: 1px solid black; */
  border: none;
  font-style: sans-serif;
}
h2 {
  font-family: var(--first);
  font-size: 2rem;
  margin-bottom: 0;
  color: #f9aaa6;
}
img {
  width: 50px;
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button {
  background-color: #4caf50;
  border-radius: 5px;
  margin-left: 650px;
  margin-bottom: 5px;
  padding: 5px;
  border: none;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#time-today {
  font-size: 1rem;
}

#report-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.report-top {
  text-align: center;
  font-size: 1.5rem;
  background-color: #0e1735;
  color: var(--white);
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.street-form select {
  height: 3.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 20px;
}
