@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Space+Mono:wght@400;700&display=swap");

:root {
  --first: "Shrikhand", cursive;
  --second: "Space Mono", monospace;
  --radius: 10px;
  --white: #ffff;
  --blue: #00a4c6;
  --dark: #0e1735;
  --shadow: 4px 4px 8px -1px rgba(0, 0, 0, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: dashed firebrick; */
  font-family: var(--second);
  font-size: 1rem;
}
/* POP-UP MESSAGE */
.message {
  position: sticky;
  top: 0;
  margin: 0 auto;
  background-color: var(--dark);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  gap: 1.5rem;
}

.message span {
  font-size: 1.5rem;
  color: var(--white);
}

.message i {
  cursor: pointer;
  color: var(--white);
  font-size: 2.5rem;
}

.message i:hover {
  transform: rotate(90deg);
}

.login-container,
.register-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.title {
  font-family: var(--first);
}

.form,
.rain {
  width: 100%;
}

.form {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form h1 {
  font-size: 3.5rem;
  text-align: center;
}

.form h1 .title {
  font-size: 3.5rem;
}

.form .second-title {
  font-size: 2rem;
  text-align: center;
}

.form p {
  font-size: 1rem;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 3rem 0;
  width: 25rem;
}

.form p a {
  color: var(--blue);
  text-decoration: none;
  font-size: 1rem;
}

.form p a:hover {
  text-decoration: underline;
}

.form form label {
  font-weight: bold;
}

.form form input {
  margin-bottom: 2rem;
  width: 100%;
  height: 3rem;
  border-radius: var(--radius);
  padding: 1rem;
}

form p {
  text-align: center;
  font-size: 5rem;
}

.form .btn {
  background-color: var(--blue);
  border: none;
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.form .btn {
  color: var(--white);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: var(--shadow);
  background-color: var(--dark);
}

.btn:active {
  box-shadow: none;
}

.form .terms {
  position: absolute;
  bottom: 20px;
  text-align: center;
  margin: 0 0.5rem;
}

.rain img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

/* Home page */

@media (max-width: 991px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 768px) {
  .form form {
    width: 20rem;
  }

  .form h1,
  .form h1 .title {
    font-size: 2.5rem;
  }
  .login-container .rain,
  .register-container .rain {
    display: none;
  }
  .login-container,
  .register-container {
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    color: var(--white);
  }
  .form {
    height: 75%;
    margin: 5rem;
    background-color: var(--white);
    padding: 3rem;
    border-radius: var(--radius);
    color: var(--dark);
    position: relative;
    opacity: 0.95;
  }
  .login-container .form {
    height: 50%;
  }
}

@media (max-width: 500px) {
}
