@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Space+Mono:wght@400;700&display=swap");

:root {
  --first: "Shrikhand", cursive;
  --second: "Space Mono", monospace;
  --radius: 10px;
  --white: #ffff;
  --blue: #00a4c6;
  --dark: #0e1735;
  --pink: #f9aaa6;
  --shadow: 4px 4px 8px -1px rgba(0, 0, 0, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: dashed firebrick; */
  font-family: var(--second);
  font-size: 1rem;
}
/* POP-UP MESSAGE */
.message {
  position: sticky;
  top: 0;
  margin: 0 auto;
  background-color: var(--dark);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  gap: 1.5rem;
}

.message span {
  font-size: 1.5rem;
  color: var(--white);
}

.message i {
  cursor: pointer;
  color: var(--white);
  font-size: 2.5rem;
}

.message i:hover {
  transform: rotate(90deg);
}

.login-container,
.register-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.title,
.logo {
  font-family: var(--first);
}

.form,
.rain {
  width: 100%;
}

.form {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form h1 {
  font-size: 3.5rem;
  text-align: center;
}

.form h1 .title {
  font-size: 3.5rem;
}

.form .second-title {
  font-size: 2rem;
  text-align: center;
}

.form p {
  font-size: 1rem;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 3rem 0;
  width: 25rem;
}

.form p a {
  color: var(--blue);
  text-decoration: none;
  font-size: 1rem;
}

.form p a:hover {
  text-decoration: underline;
}

.form form label {
  font-weight: bold;
}

.form form input {
  margin-bottom: 2rem;
  width: 100%;
  height: 3rem;
  border-radius: var(--radius);
  padding: 1rem;
}

form p {
  text-align: center;
  font-size: 5rem;
}

.form .btn {
  background-color: var(--blue);
  border: none;
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.form .btn {
  color: var(--white);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: var(--shadow);
  background-color: var(--dark);
}

.btn:active {
  box-shadow: none;
}

.form .terms {
  position: absolute;
  bottom: 20px;
  text-align: center;
  margin: 0 0.5rem;
}

.rain img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

/* Home page */
nav {
  border-bottom: #0e1735 solid 1px;
  height: 10vh;
}

.container-fluid {
  display: flex;
  align-items: center;
  margin-top: 0;
  justify-content: space-between;
  max-width: 1200px;
}
nav .nav-item a {
  text-decoration: none;
  color: var(--dark);
  margin-left: 2.5rem;
  font-size: 1.4rem !important;
}

nav .logo {
  font-size: 2rem;
  color: var(--blue);
}

nav .logo:hover {
  color: var(--dark);
}

nav .nav-item a:hover {
  text-decoration: underline;
  color: #00a4c6;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  /* background-color: #00a4c6; */
  width: 20rem;
}

.weather-data .temperature {
  color: var(--dark);
  /* background-color: red; */
  padding: 0;
}
.weather-data .temperature p {
  text-align: center;
  font-size: 2rem;
}
.weather-data .temperature .top-temp {
  display: flex;
  padding: 0;
}
.weather-data .temperature .temp {
  font-size: 10rem;
  margin-bottom: 0;
}

.weather-data .temperature .desc {
  margin-top: -35px;
}

.weather-data .temperature span {
  font-size: 4rem;
}

.weather-data .extra-temp {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.weather-data .extra-temp p {
  font-size: 1.5rem;
}

.home-container .map {
  margin-top: 2rem;
}

.home-container iframe {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.home-container .map p,
.home-container .map p span i,
.charts p span i,
.charts p {
  text-align: center;
  font-size: 1.5rem;
}

.home-container .map p span i {
  margin-right: 10px;
}

.flood-information {
  /* background-color: red; */
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
}

.flood-information .top {
  background-color: var(--dark);
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7rem;
  border-radius: 40px;
}
.flood-information .top i,
.flood-information .bottom .bottom-box i {
  font-size: 8rem;
}
.flood-information .top p {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
}

.flood-information .bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
}

.flood-information .bottom .bottom-box {
  background-color: var(--dark);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10rem;
  border-radius: 40px;
  padding: 7rem;
}

.flood-information .bottom .bottom-box p {
  font-size: 1rem;
}

.flood-information .bottom .bottom-box p:first-of-type {
  margin-top: 1rem;
  text-align: center;
}

.flood-information .bottom .bottom-box p:last-of-type {
  margin-top: -15px;
  margin-bottom: 0;
}

.flood-details {
  width: 80%;
  margin-top: 1rem;
}

.flood-details .details-box {
  background-color: var(--pink);
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--dark);
  border-radius: 20px;
}

.flood-details .details-box p {
  margin-bottom: 0;
}

.flood-details .details-box i {
  font-size: 3rem;
}

.flood-details .details-box p:first-of-type {
  font-weight: bold;
}

.footer {
  margin-top: 5rem;
  height: 25vh;
  background-color: rgb(251, 248, 248);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer .logo {
  font-size: 2rem;
}

.footer .links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer .links a {
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
  font-size: 1.2rem;
}

.footer .links a:hover {
  color: var(--blue);
  text-decoration: underline;
}

.footer .socials .social {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer .socials .social:hover {
  color: #00a4c6;
  border-bottom: #0e1735 1px solid;
}

.footer .socials .social i {
  font-size: 1.5rem;
}

.footer .socials .social a {
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
  font-size: 1.2rem;
}

.footer p {
  margin-bottom: 0;
}

.charts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  border-radius: 10px;
  margin-top: 3rem;
  flex-direction: column;
}

.charts .title {
  font-size: 2rem;
}

.charts p span i {
  margin-right: 1rem;
}

.charts .charts-card {
  background-color: var(--white);
  margin-bottom: 20px;
  padding: 25px;
  -webkit-column-break-inside: avoid;
  border: 1px solid var(--dark);
  border-radius: 5px;
  box-shadow: var(--shadow);
  width: 50rem;
}

.charts .charts-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
}
.street-form select {
  width: 30rem;
  height: 3.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 20px;
}

#chart {
  width: 100%;
}

@media (max-width: 991px) {
  html {
    font-size: 70%;
  }
  .container-fluid {
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  .collapse li a:hover {
    background-color: var(--dark);
    color: var(--white);
  }

  .collapse li a {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    margin-left: 0;
    padding: 1rem 0;
    border-bottom: #0e1735 solid 1px;
  }
  .collapse {
    position: absolute;
    left: 0;
    margin-top: 6rem;
    background-color: var(--white);
    width: 100%;
  }
}

@media (max-width: 768px) {
  .form form {
    width: 20rem;
  }

  .form h1,
  .form h1 .title {
    font-size: 2.5rem;
  }
  .login-container .rain,
  .register-container .rain {
    display: none;
  }
  .login-container,
  .register-container {
    background-image: url(../images/background.jpg);
    background-size: cover;
    color: var(--white);
  }
  .form {
    height: 75%;
    margin: 5rem;
    background-color: var(--white);
    padding: 3rem;
    border-radius: var(--radius);
    color: var(--dark);
    position: relative;
    opacity: 0.95;
  }
  .login-container .form {
    height: 50%;
  }

  .flood-information .top i,
  .flood-information .bottom .bottom-box i {
    font-size: 5rem;
  }

  .flood-information .top p {
    font-size: 1.5rem;
  }
  .map iframe {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .charts .charts-card {
    width: 40rem;
  }
}
